.debug_panel {
    background-color: rgb(187, 187, 187);
    border: 1px solid;
    float: left;
    overflow: auto;
    overflow-x: hidden;
    border-radius: 10px 10px 0px 0px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
    font-family: monospace;
    font-size: 12px;
    width: 500px;
    position: absolute;
    top: 100px;
    left: 20px;
    z-index: 100;
}

.inspector_panel {
    background-color: rgb(187, 187, 187);
    border: 1px solid;
    float: left;
    overflow: auto;
    overflow-x: hidden;
    border-radius: 10px 10px 0px 0px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
    font-family: monospace;
    font-size: 12px;
    width: 500px;
    position: absolute;
    top: 200px;
    left: 450px;
    z-index: 200;
}

.title_bar {
    background-color: rgb(128, 128, 128);
    width: 100%;
    padding: 5px;
    border: 1px solid #000;
    margin-top: 0px;
    margin-bottom: 0px;
}

.collapse {
    float: left;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    border: 1px solid #000;
    background-color: #444;
    padding-left: 5px;
    padding-right: 5px;
}

.collapsed {
    display: none;
}

.object_type {
    font-size: 18px;
    font-weight: bold;
    color: #000;
}

.object_list {
    background-color: rgb(180, 180, 180);
    width: 100%;
    text-align: left;
    max-height: 300px;
    overflow: auto;
    margin: 0px;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.stats_area {
    text-align: left;
    width: 100%;
    background-color: rgb(64, 64, 64);
    color:rgb(200, 200, 200);
    padding: 10px;
    font-size: 14px;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

li:hover {
    background-color: rgb(200, 200, 200);
    cursor: pointer;
}

.panel_bar {
    width: 100%;
    background-color: rgb(32, 64, 32);
    height: 30px;
    border-bottom: 1px solid #000;
    font-weight: bold;
    font-size: 16pt;
    padding-top: 5px;
    color: #ccc;
    cursor: grab;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.inspector_panel_bar {
    width: 100%;
    background-color: rgb(128, 128, 32);
    height: 30px;
    border-bottom: 1px solid #000;
    font-weight: bold;
    font-size: 16pt;
    padding-top: 5px;
    color: #ccc;
    cursor: grab;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.inspector_panel_content {
    width: 100%;
    background-color: rgb(200, 200, 200);
}
